Repository Th3Whit3Wolf/voyager, pull requests merged in 2022-04, with the labels that each got.

#79 chore: initial commit of Splash Screen scaffolding
  frontend/src/components/SplashScreen/SplashScreen.jsx
  frontend/src/components/SplashScreen/SplashScreen.module.css
  frontend/src/pages/Login/Login.jsx
Labels: Labor: Frontend, Page: Login

#78 Feature: Initial backend implementation
  .vscode/extensions.json
  .vscode/settings.json
  backend/Dockerfile
  backend/package-lock.json
  backend/package.json
  backend/scripts/db.js
  backend/src/add.test.js
  backend/src/db/config.js
  backend/src/db/index.js
  backend/src/db/migrations/20220426023312_added_units_table/migration.sql
  backend/src/db/migrations/20220426023709_added_processing_status_enum/migration.sql
  backend/src/db/migrations/20220426023741_added_role_enum/migration.sql
  backend/src/db/migrations/20220426023817_added_task_status_enum/migration.sql
  backend/src/db/migrations/migration_lock.toml
  backend/src/db/schema.prisma
  backend/src/db/seeds/0.remove_tables.js
  backend/src/db/seeds/data/commands.json
  backend/src/db/seeds/data/deltas.json
  backend/src/db/seeds/data/installations.json
  backend/src/db/seeds/data/squadrons.json
  backend/src/db/seeds/index.js
  backend/src/db/seeds/units.js
  backend/src/db/seeds/utils.js
  backend/src/index.js
  backend/src/server.js
  backend/src/server.test.js
  docker-compose.yml
  frontend/Dockerfile
  package-lock.json
  package.json
Labels: Labor: Backend

#83 Kelly add cors allowances
  backend/src/server.js
  docker-compose.yml
Labels: Labor: Full Stack

#82 docs: updated w/ installation&runtime instructions
  README.md
Labels: documentation, Labor: Full Stack, Project: MVP
